body {font-family: "Lato", sans-serif}
.mySlides {display: none}

table, tr, td {
 #border: 1px solid orange;
}

.vehicleTable {
    padding: 2px 2px 2px 10px;
}
.vehicleDataFirstCol {
    width: 180px;
    min-width: 180px;
    max-width: 180px;
}
.vehicleDataSecondCol {
    min-width: 200px;
}

.errorMessage {
    font-weight: 700;
    color: red;
}

.truststyle {
font-weight: 700;
font-size: 20px;
color: blue;
}

h3, h4 {
    display: block;
    margin-block-start: 0.13em;
    margin-block-end: 0.13em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}